@charset "utf-8";

/* CSS Document */
/*重置浏览器默认样式*/
body,
ul,
input,
p,
dl,
dt,
dd,
h1,
table,
tr,
td,
th,
h2,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	border: 0;
}

/*全局控制*/
body {
	color: #333;
	font-size: 12px;
	font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
	background-color: #fdfdfd;
}

/*定义公共样式*/
a:link,
a:visited {
	text-decoration: none;
	color: #6C6C6C;
}

a:hover {
	text-decoration: none;
}

/*头部版块CSS*/
#top_bg {
	width: 100%;
	height: 30px;
	background: #F7F7F7;
}

#top {
	width: 980px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

#top li {
	float: left;
	padding: 0px 10px 0px 0px;
}

#top .line {
	color: #CCC;
}

.right li {
	cursor: pointer;
	border: 1px solid #f7f7f7;
}

.right li span {
	padding: 0px 9px;
}

/*下拉菜单*/
.right .list {
	position: relative;
}

.right #list_cur {
	width: 95px;
	display: none;
	position: absolute;
	left: -1px;
	top: 30px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

.right #list_cur a {
	display: block;
	padding: 0 10px;
	line-height: 28px;
	color: #6C6C6C;
}

.right #list_cur a:hover {
	background: #F5F5F5;
}

/*nav*/
#nav_bg {
	width: 100%;
	height: 95px;
	background: #fff;
	border-bottom: 5px solid #d3d3d3;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav {
	width: 980px;
	margin: 5px auto 0;
	height: 100px;
}

.nav h2 {
	height: 70px;
	padding-top: 25px;
	float: left;
}

.nav ul {
	float: left;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	display: block;
	padding: 0 40px;
	height: 95px;
	line-height: 95px;
	font-size: 14px;
	border-bottom: 5px solid #d3d3d3;
}

.nav ul li a:hover {
	color: #06F;
	border-bottom: 5px solid #06F;
}

/*banner*/
#banner {
	width: 1346px;
	height: 420px;
	margin: 0 auto;
}

/*week*/
#week {
	width: 980px;
	height: 80px;
	margin: 30px auto;
}

#week li {
	float: left;
}

#week a {
	display: inline-block;
	width: 136px;
	height: 50px;
	border: 2px solid #b6d5fa;
	text-align: center;
	padding-top: 28px;
	background: #fff8f2;
	border-radius: 8px 8px 0 0;
	transition: all 0.3s ease;
}

#week .next {
	border-left: 0;
}

#week a:hover {
	background: #fff;
	border-bottom: 2px solid #fff;
}

/*车次*/
.table {
	width: 1346px;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 auto;
	border: 1px solid #e8e8e8;
	font-size: 14px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	overflow: hidden;
}

.table tr {
	height: 90px;
	text-align: center;
	background: #B6D5FA;
	transition: background-color 0.2s;
	/*background-color:#ffe8c8;*/
}

.table tr:hover {
	background-color: #eef7ff;
}

.table .title {
	background-color: #f8f8f8;
	height: 30px;
	color: #999;
	font-size: 16px;
}

.table .even {
	background-color: #fff5e6;
}

.txt1,
.colors {
	font-size: 24px;
	color: #c5093c;
}

.table .txt2 {
	width: 120px;
	text-align: left
}

.red,
.blue {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #c5093c;
	color: #fff;
	line-height: 18px;
	text-align: center;
}

.blue {
	background: #06F;
}

.buy {
	width: 100px;
	height: 30px;
	background: linear-gradient(to bottom, #06F, #0055cc);
	display: inline-block;
	line-height: 30px;
	color: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 102, 255, 0.3);
	transition: all 0.2s ease;
}

.buy:link,
.buy:visited {
	color: #fff;
}

.buy:hover {
	background: linear-gradient(to bottom, #3399ff, #06F);
	transform: translateY(-2px);
	box-shadow: 0 4px 8px rgba(0, 102, 255, 0.4);
}

/*版权*/
#footer {
	width: 100%;
	height: 80px;
	background: url(../images/footer_bg.png) repeat-x;
	color: #fff;
	text-align: center;
	line-height: 80px;
	margin-top: 50px;
	font-size: 14px;
}